<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\Senac\Downloads\Python\Blog do 4chan\static\4chan.png" type="image/png">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>4chan</title>
</head>
<body>
    <h1>Postagens Públicas</h1>  
    <a href="{{url_for ('login')}}">Login</a>
    <a href="{{url_for ('register')}}">Registrar</a>

    {% for post in posts %}
    <div class="post">
         <h3>{{post.titulo}}</h3>
         <p>{{post.conteudo}}</p>
         (% if post.image %)
         <img src="{{url_for('static', filename='upload'/ + post.imagem)}}" width="300">
         {% endif %}
    </div>
    {$ endfor %}
</body>
</html>