<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="C:\Users\Senac\Downloads\Joaoverde\Meus sites\Blibioteca\download.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='index2.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='imgs/horsin.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
</head>
    <title>Vaqueijada</title>
</head>
<header>
    <h1 id="title">O site mais embadalado da caatinga[Login Version]</h1>
    <img id="AIDS" src="../static/imgs/QUE LINDJO.png" alt="LOL">
</header>
<body>
    <section class="botoes">
    <a href="{{ url_for('register') }}">
        <button id="botao" type="button">Cadastro</button>
    </a>
    <a href="{{ url_for('login') }}">
        <button id="botao2" type="button">Login</button>
    </a>
    <a href="{{ url_for('index') }}">
        <button id="botao3" type="button">Index</button>
    </a>
    </section>
    <button class="botao_ingracado">Morra Incel</button>
    <table>
        <tr>
            <th>Alagoas</th>
            <th>Pernambuco</th>
          </tr>
          <tr>
            <td>Maranhão</td>
            <td>Piauí</td>
          </tr>
          <tr>
              <td>Céara </td>
              <td>Rio grande do norte </td>
          </tr>
    </table>  
    <iframe id="ulala" width="560" height="315" src="https://www.youtube.com/embed/y1q314AsBGU?si=FqQdzidfL8Q19vGe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></body>
</html>
