body {
  background-color: blue;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 12px;
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: aqua;
  text-shadow: 1px 1px 5px black;
  transform: scale(1.1);
}

header img {
  height: 150px;
  width: 150px;
  border-radius: 80%;
  border: 5px solid aqua;
}

h1 {
  color: aqua;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3, p {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}


.center {
  text-align: center;
  margin-top: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
  margin-left: -1700px;
  position: relative;
}

.footer-icons img {
  width: 50px;
  height: 50px;
  margin-top: 230px;
}

#tralalelo {
  position: absolute;
  right: 0;
  margin-top: 200px;
  margin-right: 50px;
  color: white;
}

#mabel{
  margin-top: -15px;
  margin-left: -60px;
  position: fixed;
}

#gifirado{
  margin-top: 600px;
  margin-left: 400px;
  position: absolute;
}

#mouse{
  position: absolute;
  margin-top: 590px;
  margin-left: 900px;
}