#authentic{
    height: 500px;
    padding: 500px;
    margin-left: -500px;
    margin-top: -510px;
    z-index: -1;
    position: fixed;

}

.grade {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
  }

#one{
    height: 500px;
    padding: 500px;
    margin-left: -500px;
    margin-top: -300px;
}

body{
    background-color: gainsboro
}
#titulouno{
    margin-left: -810px;
    margin-top: 150px;
    color: rgb(145, 18, 18);
}

#eu{
    color: rgb(145, 18, 18);
    margin-left: -1000px;
    margin-top: 200px;
}

#botao{
    margin-top: 500px;
}

#numero1{
    color: rgb(145, 18, 18);
    max-width: 500px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -980px;
    margin-left: 360px;
    font-weight: bold;
    text-align: justify;
  }

  #mickey{
    height: 500px;
    padding: 500px;
    margin-top: -700px;
    margin-left: -1350px;
  }

#two{
    color: aqua;
    margin-top: -250px;
    margin-left: -1310px;
}

#aaa{
    color: aqua;
}
  
.menu{
     color:blue;
     list-style: none;
}